/* STAFF LAYOUT */
.staff-container {
  display: flex;
}

.sidebar {
  width: 250px;
  background: #2a2a72;
  height: 100vh;
  color: white;
  padding: 20px;
}

.sidebar-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.sidebar-menu li {
  list-style: none;
  padding: 10px 0;
  cursor: pointer;
}

.sidebar-menu li:hover {
  opacity: 0.7;
}

.logout-btn {
  margin-top: 30px;
  width: 100%;
  padding: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

.staff-main {
  flex-grow: 1;
  padding: 25px;
}

.dashboard-cards {
  display: flex;
  gap: 20px;
}

.card {
  width: 200px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 10px;
  text-align: center;
}
